body {
    font-family: "Open Sans", sans-serif;
    background-color: #d6c7b0;
    background-image: linear-gradient(to right, #c09452, #d6c7b0, #d6c7b0, #d6c7b0, #d6c7b0, #d6c7b0, #d6c7b0, #c09452);
}

h1, h2, h3 {
    font-family: "Henny Penny", cursive;
}

.jumbotron {
    padding: 10px;
    background-image: url("../img/jumboback.jpg");
    background-position: 0px;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-image: url("../img/woodnav.jpg");
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

.sign {
    background-image: url("../img/sign.png");
    background-size: 270px 150px;
    background-position-y: -53px;
    background-position-x: -30px;
    background-repeat: no-repeat;
}

.site-footer {
    background-image: url("../img/woodnav3.png"), linear-gradient(#634f32, #c09452);
    color: black;
    background-size: 3000px 1300px;
    background-repeat: no-repeat;
    padding: 34px 0;
}

.site-footer2 {
    background-image: url("../img/woodnav3.png"), linear-gradient(#634f32, #c09452);
    color: black;
    background-size: 3000px 1300px;
    background-repeat: no-repeat;
    padding: 35px 0;
}

.nav-item {
    background-color: rgba(61, 47, 26, 0.85);
}

.easysee {
    background-color: rgba(54, 41, 22, 0.95);
}
